/* start global rules */
* {
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

body {
  background-color: #f9f9f9;
}

/* end global rules */
/* start helpers */
.products-basket .offcanvas-body .basket-product .delete-product, .products-basket .orders-container .basket-product .delete-product, .products-basket .checkoutProducts .basket-product .delete-product, #nav-my-orders .offcanvas-body .basket-product .delete-product, #nav-my-orders .orders-container .basket-product .delete-product, #nav-my-orders .checkoutProducts .basket-product .delete-product, .checkout-section .offcanvas-body .basket-product .delete-product, .checkout-section .orders-container .basket-product .delete-product, .checkout-section .checkoutProducts .basket-product .delete-product, .products-basket .offcanvas-body .basket-product .product-counter .counter-up, .products-basket .offcanvas-body .basket-product .product-counter .counter-down, .products-basket .orders-container .basket-product .product-counter .counter-up, .products-basket .orders-container .basket-product .product-counter .counter-down, .products-basket .checkoutProducts .basket-product .product-counter .counter-up, .products-basket .checkoutProducts .basket-product .product-counter .counter-down, #nav-my-orders .offcanvas-body .basket-product .product-counter .counter-up, #nav-my-orders .offcanvas-body .basket-product .product-counter .counter-down, #nav-my-orders .orders-container .basket-product .product-counter .counter-up, #nav-my-orders .orders-container .basket-product .product-counter .counter-down, #nav-my-orders .checkoutProducts .basket-product .product-counter .counter-up, #nav-my-orders .checkoutProducts .basket-product .product-counter .counter-down, .checkout-section .offcanvas-body .basket-product .product-counter .counter-up, .checkout-section .offcanvas-body .basket-product .product-counter .counter-down, .checkout-section .orders-container .basket-product .product-counter .counter-up, .checkout-section .orders-container .basket-product .product-counter .counter-down, .checkout-section .checkoutProducts .basket-product .product-counter .counter-up, .checkout-section .checkoutProducts .basket-product .product-counter .counter-down {
  width: 90%;
  height: 45px;
  padding: 5px;
  font-weight: 700;
  border: 1px solid #e1e1e1;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.products-basket .offcanvas-body .basket-product .delete-product:hover, .products-basket .orders-container .basket-product .delete-product:hover, .products-basket .checkoutProducts .basket-product .delete-product:hover, #nav-my-orders .offcanvas-body .basket-product .delete-product:hover, #nav-my-orders .orders-container .basket-product .delete-product:hover, #nav-my-orders .checkoutProducts .basket-product .delete-product:hover, .checkout-section .offcanvas-body .basket-product .delete-product:hover, .checkout-section .orders-container .basket-product .delete-product:hover, .checkout-section .checkoutProducts .basket-product .delete-product:hover, .products-basket .offcanvas-body .basket-product .product-counter .counter-up:hover, .products-basket .offcanvas-body .basket-product .product-counter .counter-down:hover, .products-basket .orders-container .basket-product .product-counter .counter-up:hover, .products-basket .orders-container .basket-product .product-counter .counter-down:hover, .products-basket .checkoutProducts .basket-product .product-counter .counter-up:hover, .products-basket .checkoutProducts .basket-product .product-counter .counter-down:hover, #nav-my-orders .offcanvas-body .basket-product .product-counter .counter-up:hover, #nav-my-orders .offcanvas-body .basket-product .product-counter .counter-down:hover, #nav-my-orders .orders-container .basket-product .product-counter .counter-up:hover, #nav-my-orders .orders-container .basket-product .product-counter .counter-down:hover, #nav-my-orders .checkoutProducts .basket-product .product-counter .counter-up:hover, #nav-my-orders .checkoutProducts .basket-product .product-counter .counter-down:hover, .checkout-section .offcanvas-body .basket-product .product-counter .counter-up:hover, .checkout-section .offcanvas-body .basket-product .product-counter .counter-down:hover, .checkout-section .orders-container .basket-product .product-counter .counter-up:hover, .checkout-section .orders-container .basket-product .product-counter .counter-down:hover, .checkout-section .checkoutProducts .basket-product .product-counter .counter-up:hover, .checkout-section .checkoutProducts .basket-product .product-counter .counter-down:hover {
  background-color: #e1e1e1;
}

/* end helpers */
/* start navbar style */
nav {
  width: 100%;
  z-index: 999;
}
nav .container-fluid {
  width: 95%;
  padding: 15px 0;
  transition: 0.5s;
}
nav .container-fluid .toggler-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
nav .container-fluid .toggler-btn .nav-toggler-icon {
  width: 32px;
  height: 23px;
  position: relative;
}
nav .container-fluid .toggler-btn .nav-toggler-icon span {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #101010;
}
nav .container-fluid .toggler-btn .nav-toggler-icon span:nth-child(1) {
  top: 0;
  width: 20px;
}
nav .container-fluid .toggler-btn .nav-toggler-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
nav .container-fluid .toggler-btn .nav-toggler-icon span:nth-child(3) {
  bottom: 0;
  width: 20px;
}
nav .container-fluid .toggler-btn.close .nav-toggler-icon span:nth-child(1) {
  width: 100%;
  transform-origin: 0 0;
  transform: rotateZ(45deg);
  transition: 0.5s;
}
nav .container-fluid .toggler-btn.close .nav-toggler-icon span:nth-child(2) {
  transition: 0.5s;
  display: none;
}
nav .container-fluid .toggler-btn.close .nav-toggler-icon span:nth-child(3) {
  width: 100%;
  transform: rotateZ(-45deg);
  transform-origin: 0 100%;
  transition: 0.5s;
}
nav .container-fluid .nav-link {
  color: rgb(139, 138, 138) !important;
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  nav .container-fluid .nav-link {
    text-align: center;
  }
}
nav .container-fluid .nav-link:hover {
  background-color: #f3f3f3;
}
nav .container-fluid .nav-link.active {
  font-weight: 700;
  color: #101010 !important;
}
nav .container-fluid .nav-right-content {
  width: 50%;
}
@media screen and (max-width: 1200px) {
  nav .container-fluid .nav-right-content {
    width: 100%;
  }
}
nav .container-fluid .nav-right-content .input-group {
  border: solid 1px #ddd;
  align-self: stretch;
}
nav .container-fluid .nav-right-content .input-group input::-moz-placeholder {
  font-size: 14px;
  font-weight: 600;
  color: #cacaca;
}
nav .container-fluid .nav-right-content .input-group input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 600;
  color: #cacaca;
}
nav .container-fluid .nav-right-content .input-group input::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: #cacaca;
}
nav .container-fluid .nav-right-content .input-group input:focus {
  box-shadow: none;
}
nav .container-fluid .nav-right-content .input-group input:focus .input-group {
  border: solid 1px #111;
}
nav .container-fluid .nav-right-content .basket {
  padding: 8px 10px;
  position: relative;
  cursor: pointer;
}
nav .container-fluid .nav-right-content .basket .basket-counter {
  top: -5px;
  right: -5px;
}
nav .container-fluid .nav-right-content .basket svg {
  font-size: 25px;
}
nav .container-fluid .nav-right-content .basket:hover {
  background-color: #f3f3f3;
}
nav .container-fluid .nav-right-content .nav-btns a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  font-size: 13px;
}
nav .container-fluid .nav-right-content .nav-btns a.sign-up-btn {
  background-color: #101010;
  color: #fff;
}
nav .container-fluid .nav-right-content .nav-btns a.sign-in-btn {
  background: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
}
@media screen and (max-width: 992px) {
  nav .container-fluid .nav-right-content .user-info {
    margin: 0 auto;
  }
}
nav .container-fluid .nav-right-content .user-info a {
  font-size: 15px;
  font-weight: 600;
  color: #1a1a1a;
  display: flex;
  justify-content: space-between;
}
nav .container-fluid .nav-right-content .user-info a .user-first-char {
  width: 30px;
  height: 30px;
  background-color: #c2185b;
  background-position: center;
  background-size: cover;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container-fluid .nav-right-content .user-info .dropdown-menu {
  transform: translate(-100%, 10px);
}
@media screen and (max-width: 1200px) {
  nav .container-fluid .nav-right-content .user-info .dropdown-menu {
    transform: translate(-60%, 10px);
  }
}
nav .container-fluid .nav-right-content .user-info .dropdown-menu .dropdown-item {
  padding: 10px;
  font-size: 13px;
}
nav .container-fluid .nav-right-content .user-info .dropdown-menu .dropdown-item:hover {
  background-color: #f3f3f3;
}

/* end navbar style */
/* start basket style */
.products-basket, #nav-my-orders, .checkout-section {
  width: 45%;
  box-shadow: 0 0 6px 0 #979393;
}
@media screen and (max-width: 1200px) {
  .products-basket, #nav-my-orders, .checkout-section {
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  .products-basket, #nav-my-orders, .checkout-section {
    width: 70%;
  }
}
@media screen and (max-width: 820px) {
  .products-basket, #nav-my-orders, .checkout-section {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .products-basket, #nav-my-orders, .checkout-section {
    width: 100%;
  }
}
.products-basket .offcanvas-header #BasketOffcanvasLabel, #nav-my-orders .offcanvas-header #BasketOffcanvasLabel, .checkout-section .offcanvas-header #BasketOffcanvasLabel {
  color: #101010;
  font-size: 17px;
  font-weight: 700;
}
.products-basket .offcanvas-header #BasketOffcanvasLabel .item-counter, #nav-my-orders .offcanvas-header #BasketOffcanvasLabel .item-counter, .checkout-section .offcanvas-header #BasketOffcanvasLabel .item-counter {
  font-size: 13px;
  color: #797979;
}
.products-basket .offcanvas-header .basket-btns, #nav-my-orders .offcanvas-header .basket-btns, .checkout-section .offcanvas-header .basket-btns {
  background-color: #f9f9f9;
  border: 1px solid rgb(236, 236, 236);
  font-size: 13px;
  font-weight: 600;
}
.products-basket .offcanvas-header .basket-btns:hover, #nav-my-orders .offcanvas-header .basket-btns:hover, .checkout-section .offcanvas-header .basket-btns:hover {
  background-color: #e6e6e6;
}
.products-basket .offcanvas-header .basket-btns:focus, #nav-my-orders .offcanvas-header .basket-btns:focus, .checkout-section .offcanvas-header .basket-btns:focus {
  box-shadow: none;
}
.products-basket .offcanvas-body h4, .products-basket .orders-container h4, .products-basket .checkoutProducts h4, #nav-my-orders .offcanvas-body h4, #nav-my-orders .orders-container h4, #nav-my-orders .checkoutProducts h4, .checkout-section .offcanvas-body h4, .checkout-section .orders-container h4, .checkout-section .checkoutProducts h4 {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products-basket .offcanvas-body .basket-product, .products-basket .orders-container .basket-product, .products-basket .checkoutProducts .basket-product, #nav-my-orders .offcanvas-body .basket-product, #nav-my-orders .orders-container .basket-product, #nav-my-orders .checkoutProducts .basket-product, .checkout-section .offcanvas-body .basket-product, .checkout-section .orders-container .basket-product, .checkout-section .checkoutProducts .basket-product {
  border: 1px solid #e1e1e1;
  margin: 0 auto;
}
.products-basket .offcanvas-body .basket-product .product-counter, .products-basket .orders-container .basket-product .product-counter, .products-basket .checkoutProducts .basket-product .product-counter, #nav-my-orders .offcanvas-body .basket-product .product-counter, #nav-my-orders .orders-container .basket-product .product-counter, #nav-my-orders .checkoutProducts .basket-product .product-counter, .checkout-section .offcanvas-body .basket-product .product-counter, .checkout-section .orders-container .basket-product .product-counter, .checkout-section .checkoutProducts .basket-product .product-counter {
  align-self: stretch;
}
.products-basket .offcanvas-body .basket-product .product-counter .counter-up, .products-basket .offcanvas-body .basket-product .product-counter .counter-down, .products-basket .orders-container .basket-product .product-counter .counter-up, .products-basket .orders-container .basket-product .product-counter .counter-down, .products-basket .checkoutProducts .basket-product .product-counter .counter-up, .products-basket .checkoutProducts .basket-product .product-counter .counter-down, #nav-my-orders .offcanvas-body .basket-product .product-counter .counter-up, #nav-my-orders .offcanvas-body .basket-product .product-counter .counter-down, #nav-my-orders .orders-container .basket-product .product-counter .counter-up, #nav-my-orders .orders-container .basket-product .product-counter .counter-down, #nav-my-orders .checkoutProducts .basket-product .product-counter .counter-up, #nav-my-orders .checkoutProducts .basket-product .product-counter .counter-down, .checkout-section .offcanvas-body .basket-product .product-counter .counter-up, .checkout-section .offcanvas-body .basket-product .product-counter .counter-down, .checkout-section .orders-container .basket-product .product-counter .counter-up, .checkout-section .orders-container .basket-product .product-counter .counter-down, .checkout-section .checkoutProducts .basket-product .product-counter .counter-up, .checkout-section .checkoutProducts .basket-product .product-counter .counter-down {
  height: 50%;
}
.products-basket .offcanvas-body .basket-product .product-info, .products-basket .orders-container .basket-product .product-info, .products-basket .checkoutProducts .basket-product .product-info, #nav-my-orders .offcanvas-body .basket-product .product-info, #nav-my-orders .orders-container .basket-product .product-info, #nav-my-orders .checkoutProducts .basket-product .product-info, .checkout-section .offcanvas-body .basket-product .product-info, .checkout-section .orders-container .basket-product .product-info, .checkout-section .checkoutProducts .basket-product .product-info {
  color: #8d8d8d;
  font-size: 12px;
  font-weight: 600;
}
.products-basket .offcanvas-body .basket-product .product-info .product-brand, .products-basket .orders-container .basket-product .product-info .product-brand, .products-basket .checkoutProducts .basket-product .product-info .product-brand, #nav-my-orders .offcanvas-body .basket-product .product-info .product-brand, #nav-my-orders .orders-container .basket-product .product-info .product-brand, #nav-my-orders .checkoutProducts .basket-product .product-info .product-brand, .checkout-section .offcanvas-body .basket-product .product-info .product-brand, .checkout-section .orders-container .basket-product .product-info .product-brand, .checkout-section .checkoutProducts .basket-product .product-info .product-brand {
  color: #1a1a1a;
  font-size: 15px;
}
.products-basket .offcanvas-body .basket-product .product-info span, .products-basket .orders-container .basket-product .product-info span, .products-basket .checkoutProducts .basket-product .product-info span, #nav-my-orders .offcanvas-body .basket-product .product-info span, #nav-my-orders .orders-container .basket-product .product-info span, #nav-my-orders .checkoutProducts .basket-product .product-info span, .checkout-section .offcanvas-body .basket-product .product-info span, .checkout-section .orders-container .basket-product .product-info span, .checkout-section .checkoutProducts .basket-product .product-info span {
  color: #1a1a1a;
  margin-top: 5px;
}
.products-basket .offcanvas-body .basket-product .product-info .product-color .color, .products-basket .orders-container .basket-product .product-info .product-color .color, .products-basket .checkoutProducts .basket-product .product-info .product-color .color, #nav-my-orders .offcanvas-body .basket-product .product-info .product-color .color, #nav-my-orders .orders-container .basket-product .product-info .product-color .color, #nav-my-orders .checkoutProducts .basket-product .product-info .product-color .color, .checkout-section .offcanvas-body .basket-product .product-info .product-color .color, .checkout-section .orders-container .basket-product .product-info .product-color .color, .checkout-section .checkoutProducts .basket-product .product-info .product-color .color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.products-basket .offcanvas-body .basket-product .product-total-quantity-price, .products-basket .orders-container .basket-product .product-total-quantity-price, .products-basket .checkoutProducts .basket-product .product-total-quantity-price, #nav-my-orders .offcanvas-body .basket-product .product-total-quantity-price, #nav-my-orders .orders-container .basket-product .product-total-quantity-price, #nav-my-orders .checkoutProducts .basket-product .product-total-quantity-price, .checkout-section .offcanvas-body .basket-product .product-total-quantity-price, .checkout-section .orders-container .basket-product .product-total-quantity-price, .checkout-section .checkoutProducts .basket-product .product-total-quantity-price {
  font-size: 17px;
  color: #1a1a1a;
  font-weight: 700;
}
.products-basket .offcanvas-body .basket-product .delete-product, .products-basket .orders-container .basket-product .delete-product, .products-basket .checkoutProducts .basket-product .delete-product, #nav-my-orders .offcanvas-body .basket-product .delete-product, #nav-my-orders .orders-container .basket-product .delete-product, #nav-my-orders .checkoutProducts .basket-product .delete-product, .checkout-section .offcanvas-body .basket-product .delete-product, .checkout-section .orders-container .basket-product .delete-product, .checkout-section .checkoutProducts .basket-product .delete-product {
  width: 60%;
}
.products-basket .offcanvas-body .basket-product:not(:first-child), .products-basket .orders-container .basket-product:not(:first-child), .products-basket .checkoutProducts .basket-product:not(:first-child), #nav-my-orders .offcanvas-body .basket-product:not(:first-child), #nav-my-orders .orders-container .basket-product:not(:first-child), #nav-my-orders .checkoutProducts .basket-product:not(:first-child), .checkout-section .offcanvas-body .basket-product:not(:first-child), .checkout-section .orders-container .basket-product:not(:first-child), .checkout-section .checkoutProducts .basket-product:not(:first-child) {
  margin-top: 10px;
}
.products-basket .subtotal-amout, #nav-my-orders .subtotal-amout, .checkout-section .subtotal-amout {
  font-size: 13px;
  font-weight: 700;
}
.products-basket .subtotal-amout .basket-total-price, #nav-my-orders .subtotal-amout .basket-total-price, .checkout-section .subtotal-amout .basket-total-price {
  font-size: 25px;
}
.products-basket #basket-checkout-btn, #nav-my-orders #basket-checkout-btn, .checkout-section #basket-checkout-btn {
  font-weight: 600;
  background-color: #101010;
}
.products-basket #basket-checkout-btn:focus, #nav-my-orders #basket-checkout-btn:focus, .checkout-section #basket-checkout-btn:focus {
  box-shadow: none;
}

/* end basket style */
#nav-my-orders, .checkout-section {
  width: 100%;
  box-shadow: none;
}

.footer {
  background-color: rgb(236, 237, 237);
  text-align: center;
  padding: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner {
  background-color: rgb(236, 237, 237);
  width: 100%;
  display: flex;
}

#banner_header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  flex-basis: 50%;
}

#banner_image {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-basis: 50%;
}

#header {
  width: 100%;
  display: flex;
}

#header1 {
  display: flex;
  align-items: flex-start;
  padding-bottom: 1.2rem;
  flex-basis: 50%;
}

#header2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-basis: 50%;
}

#head {
  width: 100%;
  display: flex;
}

#head1 {
  display: flex;
  align-items: flex-start;
  padding-bottom: 1.2rem;
  flex-basis: 50%;
}

#head2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-basis: 50%;
}

.display {
  margin: 5rem 0;
}

.header-text {
  width: 100%;
  font-family: Tajawal, Helvetica, Arial, sans-serif;
}

.banner_image {
  width: 100%;
  height: 100%;
}

.product-display-img {
  width: 100%;
  height: auto;
  background: #f1f1f1;
  position: relative;
  overflow: hidden;
}

.product-display-img img {
  width: 100%;
  height: 100%;
  transform: scale(0.9);
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.is-img-loaded {
  -webkit-animation: fadeIn 0.3s ease;
          animation: fadeIn 0.3s ease;
  opacity: 1;
}

.product-display-details {
  padding: 1.2rem;
}

.product-card-img:hover {
  transform: scale(1, 1);
}

.footer {
  background-color: rgb(236, 237, 237);
  text-align: center;
  padding: 1.5rem;
  /* width: 100%; */
}

.text-black {
  font-family: Tajawal, Helvetica, Arial, sans-serif;
}

@media (max-width: 485px) {
  #banner_header, #banner_image {
    flex-basis: 100%;
  }
}
@media (max-width: 760px) {
  #header1, #head1 {
    font-size: 20px;
  }
}/*# sourceMappingURL=home.css.map */